@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00ab55;
  --color-secondary: #fed700;
  --color-bg: #ffffff;
  --color-text: #1f2937;
}

.dark {
  --color-primary: #16a34a;
  --color-secondary: #fbbf24;
  --color-bg: #1f2937;
  --color-text: #f9fafb;
}

h1 {
  @apply text-3xl font-bold text-gray-800;
}

h2 {
  @apply text-2xl font-semibold text-gray-800;
}

hr {
  @apply my-1 border-gray-300 border mb-3;
}

/*button {
  @apply transition-all hover:bg-[--color-primary]  px-8 py-2 font-semibold uppercase tracking-wide shadow-md;
}*/

input:not(.swal2-input)[type=text],input:not(.swal2-input)[type=password], input:not(.swal2-input)[type=email], input:not(.swal2-input)[type=number], input:not(.swal2-input)[type=date], input:not(.swal2-input)[type=time]  {
  @apply w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

